.menu-container{
  width: 100vw;
  height: 100vh;
  background: white;
}

.closeButton{
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

.closeButton:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.revel-logo{
  position: absolute;
  top: 15px;
  height: 60px!important;
  width: 200px!important;
  max-height: 60px!important;
  max-width: 200px!important;
}

.revel-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.revel-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.revel-drawer .mdl-menu__container {
  z-index: -1;
}
.revel-drawer .revel-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.revel-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.revel-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 100px;
}

.revel-navigation {
  flex-grow: 1;
}
.revel-layout .revel-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.revel-layout .revel-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.revel-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.page{
  width: 100%;
}
