<marquee style="position: relative" *ngIf="currentFeed && isInitialized && isStarted" behavior="scroll" direction="{{scrollDirection}}" [attr.scrollamount]="scrollSpeed" style="position: absolute; width: 100%; height: 100%">

  <ng-container *ngFor="let text of list" >
    <!--<p class="text" *ngIf="text.isValid">{{text.text}}</p>-->
     <img onerror="this.style.display='none'" onload="this.style.display='block'"  *ngIf="text.isValid" src="https://svc1.reveldigital.com/Render/Text?text={{text.text}}&w=0&h={{height}}&font={{fontFamily}}&fg=&bg="/>
  </ng-container>
</marquee>


<!--
<marquee  behavior="scroll" direction="{{scrollDirection}}" [attr.scrollamount]="scrollSpeed" style="width: 100%; height: 100%">
  <div class="table">
    <ul id="horizontal-list" class="text" style="padding: 0">
      <ng-container *ngFor="let text of list" >
        <li class="text" *ngIf="text.isValid" style="width: 100%; height: 100%">{{text.text}} </li>
      </ng-container>
    </ul>
  </div>
</marquee>
-->





